##Importando Dados

In [102]:
# Importando os Dados

import sqlite3
import pandas as pd
conn = sqlite3.connect( "database.db" )

In [103]:
# Consulta dos Dados no BD
consulta_atividade = """

  SELECT
    fa.loyalty_number,
    fa.year,
    fa.month,
    fa.flights_booked,
    fa.total_flights,
    fa.distance,
    fa.points_accumulated
  FROM
    flight_activity fa

"""
df_atividade = pd.read_sql_query( consulta_atividade, conn )

In [104]:
df_atividade.head(10)

,loyalty_number,year,month,flights_booked,total_flights,distance,points_accumulated
0,100018,2017,1,3,3,1521,152.0
1,100102,2017,1,10,14,2030,203.0
2,100140,2017,1,6,6,1200,120.0
3,100214,2017,1,0,0,0,0.0
4,100272,2017,1,0,0,0,0.0
5,100301,2017,1,0,0,0,0.0
6,100364,2017,1,0,0,0,0.0
7,100380,2017,1,0,0,0,0.0
8,100428,2017,1,6,6,606,60.0
9,100504,2017,1,0,0,0,0.0

#Exercícios Aula 1 - SQL

In [105]:
# 1. Selecione as colunas: loyalty_number, country, city, gender, loyalty_card e salary da tabela "flight_loyalty_history"

consulta_atividade = """

  SELECT
    flh.loyalty_number,
    flh.country,
    flh.city,
    flh.gender,
    flh.loyalty_card,
    flh.salary
  FROM
    flight_loyalty_history flh

"""

df_atividade = pd.read_sql_query( consulta_atividade, conn )

df_atividade.head()

   loyalty_number country       city  gender loyalty_card    salary
0          480934  Canada    Toronto  Female         Star   83236.0
1          549612  Canada   Edmonton    Male         Star       NaN
2          429460  Canada  Vancouver    Male         Star       NaN
3          608370  Canada    Toronto    Male         Star       NaN
4          530508  Canada       Hull    Male         Star  103495.0

In [107]:
# 2. Selecione as mesmas colunas, porém, recupere somente as linhas cuja coluna gender é igual a Female da tabela flighy_loyalty_history

consulta_atividade = """

  SELECT
    flh.loyalty_number,
    flh.country,
    flh.city,
    flh.gender,
    flh.loyalty_card,
    flh.salary
  FROM
    flight_loyalty_history flh
  WHERE
    flh.gender = 'Female'

  """

df_atividade = pd.read_sql_query( consulta_atividade, conn )

df_atividade.head(12)

    loyalty_number country          city  gender loyalty_card    salary
0           480934  Canada       Toronto  Female         Star   83236.0
1           927943  Canada       Toronto  Female         Star       NaN
2           852392  Canada      Montreal  Female         Star  100159.0
3           932823  Canada     Vancouver  Female         Star   66444.0
4           144514  Canada  Dawson Creek  Female         Star   49618.0
5           286114  Canada       Toronto  Female         Star       NaN
6           735304  Canada      Edmonton  Female         Star  128118.0
7           172755  Canada      Edmonton  Female       Aurora       NaN
8           354730  Canada   Fredericton  Female         Star       NaN
9           413741  Canada       Toronto  Female         Star       NaN
10          109767  Canada       Toronto  Female         Star   89062.0
11          217754  Canada      Montreal  Female         Star  102400.0

In [108]:
# 3. Selecione as colunas: loyalty_number, month, year, distance, flights_booked e total_flights da tabela flight_activity
# e recupere somente as linhas cuja coluna flights_booked é maior que 10 e menor que 12.

consulta_atividade = """

  SELECT
    fa.loyalty_number,
    fa.month,
    fa.year,
    fa.distance,
    fa.flights_booked,
    fa.total_flights
  FROM
    flight_activity fa
  WHERE
    fa.flights_booked > 10
  AND
    fa.flights_booked < 12

"""

df_atividade = pd.read_sql_query( consulta_atividade, conn )

df_atividade.head(12)

    loyalty_number  month  year  distance  flights_booked  total_flights
0           100727      1  2017      1144              11             11
1           100883      1  2017      3124              11             11
2           101515      1  2017      1100              11             11
3           101594      1  2017      3399              11             11
4           104353      1  2017      1343              11             17
5           105214      1  2017      2783              11             11
6           105712      1  2017      2771              11             17
7           444931      9  2017      4428              11             18
8           107902      1  2017      2365              11             11
9           409051      9  2018      4428              11             18
10          100504     12  2017      1375              11             11
11          109399      1  2017      2112              11             11

#Inspeção dos Dados

In [39]:
# Importando os Dados com Python
import sqlite3 as sl3
import pandas as pd

# Estabelece a conexão com a base de dados e atribui á variavel "conn"
conn = sl3.connect( "database.db" )

In [109]:
# Juntando as tabelas flight_activity e flight_loyalty_history
consulta_atividade = """
  SELECT
    *
  FROM flight_activity fa LEFT JOIN flight_loyalty_history flh ON (fa.loyalty_number = flh.loyalty_number)

"""

# Executando uma consulta SQL no banco de dados SQLite ao qual conn está conectado,
# e armazenando o resultado em um DataFrame do pandas chamado df_atividade.
# Isso permite que você trabalhe com os dados da consulta SQL usando as funcionalidades do pandas.
df_atividade = pd.read_sql_query( consulta_atividade, conn )

# Verifica se está funcionando
df_atividade.head(10)

,loyalty_number,year,month,flights_booked,flights_with_companions,total_flights,distance,points_accumulated,points_redeemed,dollar_cost_points_redeemed,...,education,salary,marital_status,loyalty_card,clv,enrollment_type,enrollment_year,enrollment_month,cancellation_year,cancellation_month
0,100018,2017,1,3,0,3,1521,152.0,0,0,...,Bachelor,92552.0,Married,Aurora,7919.20,Standard,2016,8,NaN,NaN
1,100102,2017,1,10,4,14,2030,203.0,0,0,...,College,NaN,Single,Nova,2887.74,Standard,2013,3,NaN,NaN
2,100140,2017,1,6,0,6,1200,120.0,0,0,...,College,NaN,Divorced,Nova,2838.07,Standard,2016,7,NaN,NaN
3,100214,2017,1,0,0,0,0,0.0,0,0,...,Bachelor,63253.0,Married,Star,4170.57,Standard,2015,8,NaN,NaN
4,100272,2017,1,0,0,0,0,0.0,0,0,...,Bachelor,91163.0,Divorced,Star,6622.05,Standard,2014,1,NaN,NaN
5,100301,2017,1,0,0,0,0,0.0,0,0,...,Bachelor,70323.0,Divorced,Nova,48356.96,Standard,2013,9,NaN,NaN
6,100364,2017,1,0,0,0,0,0.0,0,0,...,Bachelor,76849.0,Married,Nova,5143.88,Standard,2015,5,NaN,NaN
7,100380,2017,1,0,0,0,0,0.0,0,0,...,Bachelor,69695.0,Single,Star,2465.62,Standard,2012,10,NaN,NaN
8,100428,2017,1,6,0,6,606,60.0,0,0,...,Bachelor,63478.0,Married,Aurora,5845.43,Standard,2012,8,NaN,NaN
9,100504,2017,1,0,0,0,0,0.0,0,0,...,Bachelor,75638.0,Divorced,Nova,8807.61,Standard,2017,7,2018.0,3.0

In [110]:
# Verificar o número de linhas do Data Frame
df_atividade.shape[0]

405624

In [111]:
# Verificar o número de colunas do Data Frame
df_atividade.shape[1]

26

In [112]:
# Obtendo informações da base de dados
df_atividade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405624 entries, 0 to 405623
Data columns (total 26 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   loyalty_number               405624 non-null  int64
 1   year                         405624 non-null  int64
 2   month                        405624 non-null  int64
 3   flights_booked               405624 non-null  int64
 4   flights_with_companions      405624 non-null  int64
 5   total_flights                405624 non-null  int64
 6   distance                     405624 non-null  int64
 7   points_accumulated           405624 non-null  float64
 8   points_redeemed              405624 non-null  int64
 9   dollar_cost_points_redeemed  405624 non-null  int64
 10  loyalty_number               405624 non-null  int64
 11  country                      405624 non-null  object
 12  province                     405624 non-null  object
 13  city                         405624 non-null  object
 14  postal_code                  405624 non-null  object
 15  gender                       405624 non-null  object
 16  education                    405624 non-null  object
 17  salary                       302952 non-null  float64
 18  marital_status               405624 non-null  object
 19  loyalty_card                 405624 non-null  object
 20  clv                          405624 non-null  float64
 21  enrollment_type              405624 non-null  object
 22  enrollment_year              405624 non-null  int64
 23  enrollment_month             405624 non-null  int64
 24  cancellation_year            50064 non-null   float64
 25  cancellation_month           50064 non-null   float64
dtypes: float64(5), int64(12), object(9)
memory usage: 80.5+ MB

In [44]:
# Exibe as informações de todas as linhas da coluna "distance"
df_atividade.loc[:, "distance"]

0         1521
1         2030
2         1200
3            0
4            0
          ...
405619       0
405620       0
405621    1233
405622       0
405623       0
Name: distance, Length: 405624, dtype: int64

In [45]:
# Comandos aritméticos
soma_distancia = df_atividade.loc[:, "distance"].sum()
maior_distancia = df_atividade.loc[:, "distance"].max()
media_distancia = df_atividade.loc[:, "distance"].mean()
minima_distancia = df_atividade.loc[:, "distance"].min()

print('Soma das Distâncias: {}'.format(soma_distancia))
print(maior_distancia)
print(media_distancia)
print(minima_distancia)

Soma das Distâncias: 490350765
6293
1208.880058872256
0

In [46]:
# Verificar valores nulos
df_atividade.isna()

,loyalty_number,year,month,flights_booked,flights_with_companions,total_flights,distance,points_accumulated,points_redeemed,dollar_cost_points_redeemed,...,education,salary,marital_status,loyalty_card,clv,enrollment_type,enrollment_year,enrollment_month,cancellation_year,cancellation_month
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,True
2,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,True
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405619,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,True
405620,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
405621,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True
405622,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,True,True
405623,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,True

In [47]:
df_atividade.head()

,loyalty_number,year,month,flights_booked,flights_with_companions,total_flights,distance,points_accumulated,points_redeemed,dollar_cost_points_redeemed,...,education,salary,marital_status,loyalty_card,clv,enrollment_type,enrollment_year,enrollment_month,cancellation_year,cancellation_month
0,100018,2017,1,3,0,3,1521,152.0,0,0,...,Bachelor,92552.0,Married,Aurora,7919.20,Standard,2016,8,NaN,NaN
1,100102,2017,1,10,4,14,2030,203.0,0,0,...,College,NaN,Single,Nova,2887.74,Standard,2013,3,NaN,NaN
2,100140,2017,1,6,0,6,1200,120.0,0,0,...,College,NaN,Divorced,Nova,2838.07,Standard,2016,7,NaN,NaN
3,100214,2017,1,0,0,0,0,0.0,0,0,...,Bachelor,63253.0,Married,Star,4170.57,Standard,2015,8,NaN,NaN
4,100272,2017,1,0,0,0,0,0.0,0,0,...,Bachelor,91163.0,Divorced,Star,6622.05,Standard,2014,1,NaN,NaN

#Tratamento dos Dados

In [48]:
# Numero de dados faltantes
df_atividade.isna().sum()

loyalty_number                      0
year                                0
month                               0
flights_booked                      0
flights_with_companions             0
total_flights                       0
distance                            0
points_accumulated                  0
points_redeemed                     0
dollar_cost_points_redeemed         0
loyalty_number                      0
country                             0
province                            0
city                                0
postal_code                         0
gender                              0
education                           0
salary                         102672
marital_status                      0
loyalty_card                        0
clv                                 0
enrollment_type                     0
enrollment_year                     0
enrollment_month                    0
cancellation_year              355560
cancellation_month             355560
dtype: int64

In [49]:
# selecionando somente as colunas numéricas
colunas = ["year", "month", "flights_booked", "flights_with_companions", "total_flights",
"distance", "points_accumulated", "salary", "clv"]

df_colunas_numericas = df_atividade.loc[:, colunas]

In [ ]:
# removendo linhas com alguma coluna vazia.
df_dados_limpos = df_colunas_numericas.dropna()

In [ ]:
# verificando o numero de linhas vazias
df_dados_limpos.isna().sum()

#Exercícios Aula 2 - SQL e Python

In [140]:
# Importando os Dados

import sqlite3
import pandas as pd
conn = sqlite3.connect( "database.db" )

In [141]:
df_atividade = pd.read_sql_query( consulta_atividade, conn )
df_atividade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405624 entries, 0 to 405623
Data columns (total 26 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   loyalty_number               405624 non-null  int64
 1   year                         405624 non-null  int64
 2   month                        405624 non-null  int64
 3   flights_booked               405624 non-null  int64
 4   flights_with_companions      405624 non-null  int64
 5   total_flights                405624 non-null  int64
 6   distance                     405624 non-null  int64
 7   points_accumulated           405624 non-null  float64
 8   points_redeemed              405624 non-null  int64
 9   dollar_cost_points_redeemed  405624 non-null  int64
 10  loyalty_number               405624 non-null  int64
 11  country                      405624 non-null  object
 12  province                     405624 non-null  object
 13  city                         405624 non-null  object
 14  postal_code                  405624 non-null  object
 15  gender                       405624 non-null  object
 16  education                    405624 non-null  object
 17  salary                       302952 non-null  float64
 18  marital_status               405624 non-null  object
 19  loyalty_card                 405624 non-null  object
 20  clv                          405624 non-null  float64
 21  enrollment_type              405624 non-null  object
 22  enrollment_year              405624 non-null  int64
 23  enrollment_month             405624 non-null  int64
 24  cancellation_year            50064 non-null   float64
 25  cancellation_month           50064 non-null   float64
dtypes: float64(5), int64(12), object(9)
memory usage: 80.5+ MB

In [142]:
'''1. Selecionar os números do cartão de fidelidade, a cidade e o gênero, dos passageiros que tem o
cartão Star de fidelidade, mas nunca realizaram nenhuma viagem de avião ( Dica: “loyalty_card” = “Star” e
“distance” = 0 )'''

consulta_atividade1 = """

  SELECT
    flh.loyalty_number,
    flh.gender,
    flh.city,
    flh.loyalty_card

  FROM flight_activity fa LEFT JOIN flight_loyalty_history flh ON (fa.loyalty_number = flh.loyalty_number)

  WHERE
    flh.loyalty_card = 'Star' AND fa.distance = 0

"""

df_atividade1 = pd.read_sql_query( consulta_atividade1, conn )

df_atividade1.head(12)

    loyalty_number  gender       city loyalty_card
0           480934  Female    Toronto         Star
1           480934  Female    Toronto         Star
2           480934  Female    Toronto         Star
3           480934  Female    Toronto         Star
4           549612    Male   Edmonton         Star
5           549612    Male   Edmonton         Star
6           549612    Male   Edmonton         Star
7           549612    Male   Edmonton         Star
8           549612    Male   Edmonton         Star
9           549612    Male   Edmonton         Star
10          429460    Male  Vancouver         Star
11          429460    Male  Vancouver         Star

In [143]:
'''2. Selecionar os números do cartão de fidelidade, o gênero e a cidade de todos os passageiros do sexo feminino que
moram na cidade de Toronto, fizeram mais de 30 viagens no total e tem o cartão de fidelidade do tipo Aurora.'''

consulta_atividade2 = """

  SELECT
    flh.loyalty_number,
    flh.gender,
    flh.city,
    flh.loyalty_card

  FROM flight_activity fa LEFT JOIN flight_loyalty_history flh ON (fa.loyalty_number = flh.loyalty_number)

  WHERE
    flh.gender = 'Female' AND flh.city = 'Toronto' AND fa.total_flights > 30 AND flh.loyalty_card = 'Aurora'

"""

df_atividade2 = pd.read_sql_query( consulta_atividade2, conn )

df_atividade2.head(12)

   loyalty_number  gender     city loyalty_card
0          929701  Female  Toronto       Aurora
1          975749  Female  Toronto       Aurora

In [144]:
'''3. Selecionar os números do cartão de fidelidade, o tipo do cartão, o genero e os pontos acumulados, dos passageiros
com salário acima de 13200, estado civil como casado e nível acadêmico como mestrado e número de voos
agendados igual ao número total de voos.'''

consulta_atividade3 = """

  SELECT
    flh.loyalty_number,
    flh.gender,
    fa.points_accumulated,
    flh.salary,
    flh.marital_status,
    flh.education,
    fa.flights_booked,
    fa.total_flights,
    flh.loyalty_card

  FROM flight_activity fa LEFT JOIN flight_loyalty_history flh ON (fa.loyalty_number = flh.loyalty_number)

  WHERE
    salary > 13200 AND marital_status = 'Married' AND education = 'Master' AND flights_booked = total_flights

"""

df_atividade3 = pd.read_sql_query( consulta_atividade3, conn )

df_atividade3.head(12)

,loyalty_number,gender,points_accumulated,salary,marital_status,education,flights_booked,total_flights,loyalty_card
0,205785,Male,0.0,128118.0,Married,Master,0,0,Star
1,205785,Male,0.0,128118.0,Married,Master,0,0,Star
2,205785,Male,0.0,128118.0,Married,Master,0,0,Star
3,205785,Male,0.0,128118.0,Married,Master,0,0,Star
4,205785,Male,0.0,128118.0,Married,Master,0,0,Star
5,205785,Male,0.0,128118.0,Married,Master,0,0,Star
6,205785,Male,0.0,128118.0,Married,Master,0,0,Star
7,205785,Male,0.0,128118.0,Married,Master,0,0,Star
8,205785,Male,56.0,128118.0,Married,Master,1,1,Star
9,205785,Male,72.0,128118.0,Married,Master,2,2,Star
10,205785,Male,168.0,128118.0,Married,Master,3,3,Star
11,205785,Male,129.0,128118.0,Married,Master,6,6,Star

In [145]:
'''4. Selecionar os números do cartão de fidelidade, o tipo do cartão, o genero e os pontos acumulados, dos passageiros
com salário acima de 13200, estado civil como casado e nível acadêmico como mestrado e número de voos
agendados menor ao número total de voos.'''

consulta_atividade4 = """

SELECT
    flh.loyalty_number,
    flh.gender,
    fa.points_accumulated,
    flh.salary,
    flh.marital_status,
    flh.education,
    fa.flights_booked,
    fa.total_flights,
    flh.loyalty_card

  FROM flight_activity fa LEFT JOIN flight_loyalty_history flh ON (fa.loyalty_number = flh.loyalty_number)

  WHERE
    flh.salary > 13200 AND flh.marital_status = 'Married' AND flh.education = 'Master' AND fa.flights_booked < fa.total_flights

"""

df_atividade4 = pd.read_sql_query( consulta_atividade4, conn )

df_atividade4.head(12)

,loyalty_number,gender,points_accumulated,salary,marital_status,education,flights_booked,total_flights,loyalty_card
0,205785,Male,119.00,128118.0,Married,Master,3,5,Star
1,205785,Male,298.00,128118.0,Married,Master,5,8,Star
2,205785,Male,390.00,128118.0,Married,Master,5,10,Star
3,205785,Male,77.76,128118.0,Married,Master,7,11,Star
4,205785,Male,242.00,128118.0,Married,Master,8,14,Star
5,205785,Male,336.00,128118.0,Married,Master,9,18,Star
6,205785,Male,314.00,128118.0,Married,Master,10,12,Star
7,205785,Male,422.00,128118.0,Married,Master,19,28,Star
8,735304,Female,133.00,128118.0,Married,Master,3,6,Star
9,735304,Female,260.00,128118.0,Married,Master,4,8,Star
10,735304,Female,301.00,128118.0,Married,Master,4,8,Star
11,735304,Female,250.00,128118.0,Married,Master,5,10,Star

In [146]:
'''5. Qual o valor da soma total da distância percorrida pelos voos registrados na planilha de dados?'''

soma_distancia = df_atividade.loc[:, "distance"].sum()
print(soma_distancia)

490350765

In [147]:
'''6. Qual o salário médio dos passageiros?'''

media_salario = df_atividade.loc[:, "salary"].mean()
print("Média salarial: {:.2f}".format(media_salario))

Média salarial: 79268.83

In [148]:
'''7. Qual o valor total de pontos acumulados?'''

total_pontos = df_atividade.loc[:, "points_accumulated"].sum()
print("Total de pontos acumulados: {:.2f}".format(total_pontos))

Total de pontos acumulados: 50172736.25

#Fechando a Conexão

In [ ]:
# Fecha a conexão com o banco de dados
#conn.close()